@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600&display=swap');

:root {
  --primary: #fe2c55;
  --dark: #333;
  --light-dark: #666;
  --black: black;
  --white: white;

  // DefaultLayout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--dark);
}

button,
input {
  font-family: 'IBM Plex Sans', sans-serif;
  outline: none;
  border: none;
  background-color: transparent;
}

a[href] {
  text-decoration: none;
  color: var(--dark);
}
