.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.search,
.search-result {
  width: 361px;
}

.search-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.search {
  height: 46px;
  display: flex;
  align-items: center;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  border: 1px solid transparent;
  overflow: hidden;

  input {
    height: 100%;
    flex: 1;
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: 1.6rem;
    color: var(--light-dark);
    padding-left: 16px;
    caret-color: var(--primary);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--black);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: var(--light-dark);
  margin: 0 12px;
}

.slash {
  height: 28px;
  width: 1px;
  background-color: rgba(22, 24, 35, 0.12);
}

.search-btn {
  height: 100%;
  padding: 11px 16px 11px 12px;
  font-size: 2rem;
  border: none;
  color: var(--light-dark);
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background: rgba(22, 24, 35, 0.06);
  }
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .help-btn {
    font-size: 2rem;
    width: 28px;
    display: flex;
    justify-content: center;
    padding: 0 4px;
    margin-left: 16px;
    cursor: pointer;
  }
}
