.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--default-layout-horizontal-space);
}

.logo {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.help-btn {
  font-size: 2rem;
  width: 28px;
  display: flex;
  justify-content: center;
  padding: 0 4px;
  margin-left: 16px;
  color: var(--dark);
  cursor: pointer;
}

.action-btn {
  position: relative;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  color: var(--dark);
  margin-right: 10px;

  .badge {
    position: absolute;
    background-color: var(--primary);
    top: -3px;
    right: 0px;
    height: 20px;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 18px;
    padding: 2px 6px;
    border-radius: 10px;
  }
}

.action-tooltip {
  background-color: var(--light-dark);
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}
